body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 15px;
}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
    content:url('images/ayus_1.png') url('images/ayus_2.png') url('images/mc_1.png') url('images/mc_2.png'); 
}

body{
    background: linear-gradient(90deg, #eee 1%, transparent 1%) 1px 0, #fff;
    background-size: 200px 1px;
  }

.background{
    position: fixed;
    background: linear-gradient(-45deg, #000000, #202020, #000000, #202020);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: calc(100vh + 200px);
    width: 100%;
    opacity: 0.9;
    z-index: -5;
}

.mountain{
    position: fixed;
    background-image: url("images/mountain.jpg");
    height: calc(100vh + 200px);
    width: 100%;
    top: 0px;
    background-repeat: no-repeat;
    z-index: -2;
}


/*
    Contents
*/

.home{
    position: relative;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    min-width: 350px;
    max-width: 100%;
}

.profile{
    display: flex;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    min-width: none;
    max-width: 800px;
}

.info{
    display: block;
    width: 400px;
    height: 400px;
}

.info-group{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social-icons{
    position: relative;
    display: flex;
    padding: 10px;
}
.img-group{
    position: relative;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.social-icons .img-group img {
    width: 32px;
    height: 32px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
}

.social-icons .img-group img:hover{
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding-top: 0px;
    padding-left: 1px;
    padding-right: 1px;
    transition: all 200ms ease-in;
}

.title{
    text-align: center;
}

.title h1,h3{
    padding: 0;
    margin: 0;
}

.pic img{
    width: 400px;
    height: 400px;
    border: 2px solid white;
    border-radius: 83px;
}

.about{
    height: 600px;
    width: 100%;
}

.about-group{
    position: relative;
    width: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.about-group h1{
    text-align: center;
}

.about-group p{
    text-align: justify;
}

.project{
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 100%;
    min-width: 350px;
    overflow: hidden;
}

.project-group{
    position: relative;
    width: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}

.project .title{
    position: relative;
    text-align: center;
    padding-top: 50px;
}

.card{
    position: absolute;
    background-color: #303030;
    width: 250px;
    height: 320px;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid white;
    left: -150px;
    top: -250px;
    overflow: hidden;
    z-index: 10;
}


.card-header img{
    width: 70px;
    height: 70px;
}

.card-header{
    display: flex;
}

.card-header h2{
    width: 100%;
    text-align: center;
}

.card-content{
    padding: 10px;
    z-index: 10;
}

.card-content p{
    font-size: 15px;
    text-align: justify;
}

.card-content a{
    position: absolute;
    color: yellow;
    z-index: 100;
    cursor: pointer;
}

.card-content a:hover{
    
    color: rgb(90, 90, 8);
}

.project-buttons{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 80%;
    text-align: center;
}

.project-buttons button{
    position: relative;
    text-decoration: underline;
    font-size: 25px;
    color: white;
    border: 0;
    background-color: rgba(255, 255, 255, 0.0);
}

.project-pic{
    position: relative;
    width: 100px;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: all 250ms ease-in;
    z-index: 0;
}

.pic1-activate{
    position: relative;
    width: 150px;
    left: 300px;
    top: -50px;
    opacity: 1;
    transform: rotate(15deg);
    transition: all 350ms ease-in;
    z-index: 5;
}

.pic2-activate{
    position: relative;
    width: 150px;
    left: -450px;
    top: -50px;
    opacity: 1;
    transform: rotate(-15deg);
    transition: all 350ms ease-in;
    z-index: 5;
}


.project-buttons button:hover{
    cursor: pointer;
    border-bottom: 5px solid white;
    transition: all 250ms ease-in;
}

.left{
    margin-right: 50px;
}

.left img{
    width: 50px;
    height: 50px;
    transform: rotateY(180deg);
}

.right{
    margin-left: 50px;
}

.right img{
    width: 50px;
    height: 50px;
}


.work-history{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 50px;
}

.center-group{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.work{
    display: flex;
    width: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;
}

.work img{
    width: 96px;
    height: 96px;
}

.work-description h3, p{
    padding: 0;
    padding-left: 20px;
    border: 0;
    text-align: left;
}

/*
    Utilities
*/
.non-select{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.selectable{
    user-select: all;
    -moz-user-select: all;
    -khtml-user-select: all;
    -webkit-user-select: all;
    -o-user-select: all;
}

.tenDegRev{
    transform: rotate(-10deg);
    transition: all 300ms ease-in;
    z-index: 1;
}

.tenDeg{
    transform: rotate(10deg);
    transition: all 300ms ease-in;
    z-index: 1;
}

.zeroDeg{
    transform: rotate(0deg);
    transition: all 300ms ease-in;
    z-index: 100;
}

.zeroDegNoAnim{
    transform: rotate(0deg);
    z-index: 2;
}


.hide{
    opacity: 0;
    transition: all 300ms ease-in;
}

.hideRight{
    opacity: 0.5;
    transition: all 300ms ease-in;
    transform: translateX(180px);
}

.hideLeft{
    opacity: 0;
    transition: all 300ms ease-in;
    transform: translateX(-80px);
}

.show{
    opacity: 1;
    transition: all 300ms ease-in;
}

.showLeft{
    opacity: 1;
    transition: all 300ms ease-in;
    transform: translateX(-150px);
}

.container{
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-top: 50px;
}

.logos{
    position: relative;
    width: 70%;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.logos img{
    width: calc(10% + 20px);
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

.hide_mobile{
    display: block;
}

.show_mobile{
    display: none;
}

/* mobile
*/

@media(max-width:700px) {
    .profile{
        display: block;
        height: 100vh;
    }

    .info{
        position: relative;
        display: block;
        width:100%;
    }

    .pic img{
        position: relative;
        width: 250px;
        height: 250px;
        left: 50%;
        top:-120px;
        transform: translateX(-50%);
    }

    .about{
        position: relative;
        width: 100%;
    }


    .pic{
        width: 100%;
    }

    .project{
        position: relative;
        width: 100%;
    }

    .about-group p{
        padding: 20px;
    }

    .card{
        position: absolute;
        background-color: #303030;
        width: 200px;
        height: 320px;
        padding: 30px;
        border-radius: 30px;
        border: 2px solid white;
        left: -130px;
        top: -250px;
    }

    .card-content{
        padding: 0px;
    }

    .card-content p{
        font-size: 80%;
    }


    .left{
        margin-right: 25px;
    }
    
    .right{
        margin-left: 25px;
    }

    .pic1-activate{
        opacity: 0;
    }
    
    .pic2-activate{
        opacity: 0;
    }

    .tenDegRev{
        transform: rotate(-5deg);
    }
    
    .tenDeg{
        transform: rotate(5deg);
    }

    .work{
        display: block;
        width: 100%;
    }

    .work-description h3, p{
        padding: 0;
        text-align: center;
    }

    .logos{
        display: block;
    }

    .logos img{
        width: 98px;
        height: 98px;
    }

    .hide_mobile{
        display: none;
    }
    .show_mobile{
        display: block;
    }
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
